<%- include("templates/header") %>

<%- include("templates/navbar") %>
<br>
<form action="/add-user/<%= room_id%>" method="post">
    <input type="text" name="username" placeholder="Username"><button type="submit">Add User</button>
</form>

<% if (user_not_found) { %>
    <p style="color: red;">User not found!</p>
<% } %>

<h1>Users</h1>
<ul>
<% for (var i = 0; i < users.length; i++) { %>
    <li><%= users[i].username%></li>
<% } %>
</ul>

<%- include("templates/footer") %>