<%- include("templates/header") %>

<%- include("templates/navbar") %>

<form action="/emoji/<%= message.m_id%>" method="post">
    <p><% message.content %></p>

    <ul id="optionsCheckboxes">
        <%for (var i = 0; i < message.emojis.length; i++) {%>
            <li><input type="checkbox" name="<%=message.emojis[i].id%>" <%= message.emojis[i].checked ? "checked" : "" %>><%= message.emojis[i].icon %> <%= message.emojis[i].count%></li>
        <%}%>
    </ul>

    <button type="submit">Done</button>
</form>

<%- include("templates/footer") %>