<%- include("templates/header") %>

<%- include("templates/navbar") %>

<form action="/new-chat" method="post">
    <p>Group Name <input type="text" name="groupName"></p>

    <ul id="optionsCheckboxes">
        <%for (var i = 0; i < users.length; i++) {%>
            <% if (users[i].id == user_id) {continue} %>
            <li><input type="checkbox" name="<%= users[i].id%>"><%= users[i].username %></li>
        <%}%>
    </ul>

    <button type="submit">Create Group</button>
</form>

<a href="/chats">Back</a>

<%- include("templates/footer") %>