<%- include("templates/header") %>

<form action="/register" method="post">
    <p>Email</p><input type="text" name="email">
    <p>Username</p><input type="text" name="username">
    <p>Password</p><input type="password" name="password">
    <br><br><button type="submit">Register</button>
</form>

<br><br><p><a href="/login">Already have an Account?</a></p>

<% if (error) { %>
    <br><br><p style="color: red;">Invalid login!</p>
<% } %>

<% if (passwordError) { %>
    <br><br>
    <p style="color: red;">Invalid password!</p>
    <ul>
        <li style=<%= passwordErrors[0] == 'true' ? "color:red;" : "color:lime;"%>>Password must be at least 10 characters long</li>
        <li style=<%= passwordErrors[1] == 'true' ? "color:red;" : "color:lime;"%>>Password must contain at least 1 uppercase letter and 1 lowercase letter</li>
        <li style=<%= passwordErrors[2] == 'true' ? "color:red;" : "color:lime;"%>>Password must contain at least 1 number</li>
        <li style=<%= passwordErrors[3] == 'true' ? "color:red;" : "color:lime;"%>>Password must contain at least 1 special character</li>
    </ul>
<% } %>

<%- include("templates/footer") %>